<div class="container-fluid trip-view" ng-style="{'background-image':'url(/images/background-{{tripView.trip.id}}.jpg)'}">
    <div class="row no-padding">
        <div>
            <div class="back-button" ng-show="!tripView.showMap">
                <a href="/"><span class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
            <div class="show-map">
                <span class="fa" ng-class="{'fa-map-o':!tripView.showMap,'fa-map':tripView.showMap}" ng-click="tripView.toggleMap()"></span>
            </div>
            <div class="flip-container" id="myCard">
                <div class="flipper">
                    <div class="front">
                        <div>
                            <img class="top-picture col-xs-12 no-padding" ng-src="/images/header-{{tripView.trip.id}}.jpg"/>
                            <div style="position:relative">
                                <div>
                                    <img class="img-circle user-badge" ng-src="/images/comment-profile-{{tripView.trip.created_by}}.png"
                                         alt=""/>
                                </div>
                                <div class="name">
                                    <h2>{{tripView.tripCreator.firstname}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <ui-gmap-google-map center='tripView.map.center' zoom='tripView.map.zoom'>
                            <ui-gmap-polyline ng-repeat="p in tripView.map.polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                                              geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
                            <ui-gmap-marker ng-repeat="m in tripView.map.markers" coords="m.coords" idkey="m.id">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <h1 class="col-xs-12">{{tripView.trip.name}}</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 rating">
            <span>
                <img src="/images/stars.png"/> ({{tripView.trip.ratings.rated_by}} rates)
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button type="button" class="btn-rounded btn btn-default btn-lg">Share</button>
            <button type="button" class="btn-rounded btn btn-default btn-lg">Save</button>
            <button type="button" class="btn-rounded btn btn-default btn-lg" ng-click="tripView.startTrip()">Take trip</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>About</h3>
        </div>
        <div class="hide-extra col-xs-12">
            <p>{{tripView.trip.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><img class="comment-icon" src="/images/comment.png"/> {{tripView.trip.comments.length}} comments</p>
        </div>
    </div>

    <div ng-repeat="location in tripView.trip.locations">
        <div class="row">
            <div class="col-xs-2" >
                <img src="/images/track-top.png" ng-if="$index == 0"/>
                <img src="/images/track-bottom.png" ng-if="$index == (tripView.locationsSize - 1)"/>
                <img src="/images/track-middle.png" ng-if="$index != 0 && $index != (tripView.locationsSize - 1)"/>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-2 location-picture">
                        <img class="img-rounded" ng-src="/images/waypoint-{{$index+1}}.jpg"/>
                    </div>
                    <div class="col-xs-10 location-description">
                        <p>{{location.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-12">
            <h3>Comments</h3>
        </div>
    </div>

    <div ng-repeat="comment in tripView.trip.comments">
        <div class="row comment">
            <div class="col-xs-3">
                <img class="img-circle" ng-src="/images/comment-profile-{{comment.commented_by}}.png" alt=""/>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <p class="user-comment">{{comment.comment}}</p>
                </div>
                <div class="row">
                    <img class="user-stars" src="/images/stars.png"/>
                </div>
            </div>
        </div>
    </div>
</div>