.trip-view{
    background-image: url("/images/background.jpg");
    background-repeat: repeat;
    color:white !important;
}
.top-picture {
    height:300px;
}
div.no-padding, img.no-padding, .no-padding {
    padding:0;
}
.rating {
    font-size: 2em;
    margin-bottom: 1em;
}
.user-stars{
    width:6em;
    height:auto;
}

.rating .stars{
    color:gold;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
.user-stars{
    color:gold;
}
.user-comment {
    margin-bottom:1em;
}
.comment {
    margin-bottom: 20px;
}
.user-badge {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    float:left;
    position:relative;
    top:50%;
    transform:translateY(-50%);
    left:50px;
    display:block;
}
.small-user-badge{
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}
.circular {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background: url(/images/clooney.jpg) no-repeat;
    background-size:contain;
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}
.name {
    float: left;
    top: 20px;
    padding-left:100px;
}
button.btn.btn-rounded {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin:0 10px 0 10px;
}
.hide-extra{
    width:100%;
    overflow: hidden;
}